<div class="form">
  <center><h2>Resend unlock instructions</h2></center>

  <%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-control" %>
    </div>

    <div class="actions">
      <%= f.submit "Resend unlock instructions",:class=>"btn btn-outline-dark" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</div>
