<div class="form">
<center><h2>Change your password</h2></center>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <%= f.hidden_field :reset_password_token,:class=>"form-control" %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password",:class=>"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password",:class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password",:class=>"btn btn-outline-dark" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>