<div class="form">
<center><h2>Forgot your password?</h2></center>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",:class=>"form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions",:class=>"btn btn-success" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>