<div class="newPostShow">
<div class="alert alert-dark">
<% if user_signed_in? %>
  <h1>
    <%= User.find(current_user.id).email %>
  </h1>

  <% if User.find(current_user.id).image.attached? %>
    <%= image_tag @User.find(@post.user_id).image, :class=>"postedImage" %>
  <% end %>
  <hr>
  
<% end %>
</div>
