<div class="newPost">
  <%= form_for :avatar, url: change_user_avatar_method_path do |f| %>
  
    <h3>Change avatar</h3>
    
    <p>
      Choose avatar <br>
      <%= f.file_field :image, class: "form-control"%>
    </p>

    <p>
      <%= f.submit({:class=>"btn btn-success"}) %>
    </p>


  <% end %>
</div>
