


<div class="row postsTable">
<% if user_signed_in? %>

    

    <div class="col-sm">
      <p>
      <h2><%= current_user.email %></h2> 
        <% if User.find(current_user.id).image.attached? %>
        
            <%= link_to change_user_avatar_path do %>
              <%= image_tag User.find(current_user.id).image, :class=>"rounded-circle avatar" %>
            <% end %>

        <% else %>
          <%= link_to change_user_avatar_path do %>
            <%= image_tag "https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png", :class=>"rounded-circle avatar" %>
            <i>Click to choose avatar</i>
          <% end %>
        <% end %>

        
      </p><p></p><br>
      <% if @posts.empty? %>
        <p class="text text-danger">You haven't created any post yet!</p>
      <% else %>

      <h3>Your posts</h3>
      <hr>
      <% @posts.each do |post| %>
        <h4> <%= post.title %></h4>
        <p><%= post.body %></p>
        <%= link_to "More...", post_path(post), :class=>"btn btn-outline-dark" %>
        <hr>
        <% end %>
      <% end %>

      
      

    </div>

<% end %>
</div>
