<div class="newPost">
  <%= form_for :post, url: post_path(@post),method: :patch do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg %></div>
    <% end %>
  <% end %>
    <h3>Edit post</h3>
    <p>
      Name <br>
      <%= f.text_field(:title, {:class=>"form-control"}) %>
    </p>
    <p>
      Content <br>
      <%= f.text_area(:body,{:class=>"form-control"}) %>
    </p>

    <p>
      <%= f.submit({:class=>"btn btn-success"}) %>
    </p>
  <% end %>
</div>
