
    <center>

      <h1>Main Page</h1>
    </center>

    <div class="row postsTable">

        <div class="col-sm">
          <h3>Recent posts</h3>
          <hr>
          <% @posts.each do |post| %>
            <h4> <%= post.title %></h4>
            <p><%= post.body %></p>
            <%= link_to "More...", post_path(post), :class=>"btn btn-outline-dark" %>
            <hr>
          <% end %>
        </div>

      <div class="col-sm-3 alert alert-dark">
        <h3>Popular posts</h3>
        <ul>
          <% @topPosts.each do |post| %>
            <br>
            <br>
            <li><h4><%= link_to post.title, post_path(post), :class=>"text text-dark" %></h4>
              <span align="left">
                <i>Comments: <%= post.comments.count %></i>
              </span>
            </li>

          <% end %>
          
        </ul>
      </div>


    </div>
