<div class="newPost">
  <%= form_for :post, url: posts_path do |f| %>
  <% if @post.errors.any? %>
    <% @post.errors.full_messages.each do |msg| %>
        <div class="alert alert-danger"><%=msg %></div>
    <% end %>
  <% end %>
    <h3>Create post</h3>
    <p>
      Name <br>
      <%= f.text_field(:title, {:class=>"form-control"}) %>
    </p>
    <p>
      Content <br>
      <%= f.text_area(:body,{:class=>"form-control"}) %>
    </p>

    <p>
      Image <br>
      <%= f.file_field :image, class: "form-control"%>
    </p>

    <p>
      <%= f.submit({:class=>"btn btn-success"}) %>
    </p>


  <% end %>
</div>
