
    <center>

    <h1>Search results</h1>
  </center>

  <div class="row postsTable">

      <div class="col-sm">

        <% @posts.each do |post| %>
          <h4> <%= post.title %></h4>
          <p><%= post.body %></p>
          <%= link_to "More...", post_path(post), :class=>"btn btn-outline-dark" %>
          <hr>
        <% end %>
      </div>


  </div>
