<div class="newPostShow">
<div class="alert alert-dark">
  <p>
    <% if User.find(@post.user_id).image.attached? %>
            <%= image_tag User.find(@post.user_id).image, :class=>"rounded-circle smallAvatar" %>
    <% else %>
            <%= image_tag "https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png", :class=>"rounded-circle smallAvatar" %>
    <% end %>
    <strong><%= User.find(@post.user_id).email %>:</strong></p>
  <h1>
    <%= @post.title %>
  </h1>
  <p>
    <%= @post.body %>
  </p>
  <% if @post.image.attached? %>
    <%= image_tag @post.image, :class=>"postedImage" %>
  <% end %>
  <hr>
  <% if user_signed_in? %>
    <% if @post.user_id == current_user.id %>
      <%= link_to "Edit", edit_post_path(@post), :class=>"btn btn-warning" %>
      <br><br>
      <%= button_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure?"}, :class=>"btn btn-danger" %>
    <% end %>
  <% end %>


    <br><br>
    <% if @post.comments.empty? %>
      <p class="text text-danger">There are no comments yet</p>
    <% else %>
      <h4><i>Recent comments</i></h4>
      <% @post.comments.each do |comment| %>
      <hr>
        <p>
          <strong> <%= comment.userName %>:</strong>
          <%= comment.body %>
        </p>
    <% end %>
  <% end %>
  </div>
<% if user_signed_in? %>
  <%= form_for([@post, @post.comments.build]) do |f| %>
    <h3>Your comment:</h3>

    <p>
      <%= f.text_area(:body,{:class=>"form-control"}) %>
    </p>

    <p>
      <%= f.submit("Comment",{:class=>"btn btn-success"}) %>
    </p>
  <% end %>
<% end %>
<br><br><br>
</div>
