// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
html,body{
  height:100%;
}

@media(max-width:600px){
  .postsTable{
    width:94%;
    margin-left: 3% !important;
    margin-right: 3% !important;
    align-self: center !important;

  }
  .newPost{
    width:80% !important;
    margin-left: 10% !important;
  }
  .newPostShow{
    width:94%;
    margin-left: 3% !important;
    margin-right: 3% !important;
  }
  .form{
    width:80% !important;
    margin-left: 10% !important;
    .actions{
      margin-top: 10px;
    }
  }
}
@media(min-width:600px){
  .postsTable{
    width:80%;
    margin-left: 10% !important;
    margin-right: 10% !important;
    align-self: center !important;
  }
  .newPost{
    width:40% !important;
    margin-left: 30% !important;
  }
  .newPostShow{
    width:60%;
    margin-left: 20% !important;
    margin-right: 20% !important;
  }

  .form{
    width:40% !important;
    margin-left: 30% !important;
    .actions{
      margin-top: 10px;
    }
  }
}

header{
  a{
    color:black  !important;
    text-decoration: none !important;
  }
}

.newPost{
  vertical-align: middle !important;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}


.postedImage{
  width:100%;
  border-radius: 10px;
}

.avatar{
  width:100px;
  height:100px;
}

.smallAvatar{
  width:32px;
  height:32px;
}