<!DOCTYPE html>
<html>
  <head>
    <title>Forum</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>

  </head>

  <body>
    
    <header class="p-3 mb-3 border-bottom">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><span class="nav-link px-2 link-secondary"><%= link_to "Main Page", home_path %></span></li>
            <li><span class="nav-link px-2 link-dark"><%= link_to "Create post", new_post_path %></span></li>
            <!--<li><span class="nav-link px-2 link-dark"><%= link_to "About", about_path %></span></li>
            #<li><span class="nav-link px-2 link-dark"><%= link_to "Contacts", contacts_path %></span></li>-->
          </ul>

          <% if current_page?(home_path) %>
            <%= form_for :post, url: search_path do |f| %>
              <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
              
                <li><%= f.text_field :requeststring, :class=>"form-control" ,placeholder: "Search..." %></li>
                
                <li><%= f.submit({:class=>"btn btn-outline-dark", value: "Enter"}) %></li>
              </ul>
            
              <% end %>
          <% end %>

          

          <% if user_signed_in? %>
          <div class="dropdown text-end">
            <div class="d-block link-dark text-decoration-none dropdown-toggle" type="button" id="dropdownUser1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              
              <% if User.find(current_user.id).image.attached? %>
                  <%= image_tag User.find(current_user.id).image, :class=>"rounded-circle smallAvatar" %>
                <% else %>
                  <%= image_tag "https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png", :class=>"rounded-circle smallAvatar" %>
                <% end %>
            </div>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><%= link_to "Create post", new_post_path, class: "link-item dropdown-item" %></li>
              <li><%= link_to "Profile", profile_path, class: "link-item dropdown-item" %></li>
              <li><hr class="dropdown-divider"></li>
              <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "link-item dropdown-item" %></li>
            </ul>
          </div>
          <% else %>

          <div class="dropdown text-end">
            <div class="d-block link-dark text-decoration-none dropdown-toggle" type="button" id="dropdownUser1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" alt="mdo" width="32" height="32" class="rounded-circle">
            </div>
            <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
              <li><%= link_to "Log In", new_user_session_path, class: "link-item dropdown-item" %></a></li>
              <li><%= link_to "Registrate", new_user_registration_path, class: "link-item dropdown-item" %></a></li>
            </ul>
          </div>
          <% end %>
        </div>
      </div>
    </header>
 
    <center class="newPost ">
      <% if notice %>
        <p class="notice alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert alert-warning"><%= alert %></p>
      <% end %>
    </center>
    <%= yield %>
    
    

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
  </body>
</html>
